* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: auto;
}

main {
    background: #db6300;
    background: linear-gradient(180deg, #db6300 0%, rgba(240,148,0,1) 46%, rgba(255,208,0,1) 100%);
    margin-top: 120px;
}

$naranja: #db6300;
$amarillo: #ffd000;
$imgRedes: 50px;



/* Error 404 */

.error__div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}