/* main secciones */
.bg-image {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}

@media (max-width: 1024px) {
    .bg-image {
        background-attachment: scroll;
    }
}

.hero {
    height: 100vh;
    position: relative;
    color: #fff;
}

.hero .hero-content {
    text-align: center;
    position: absolute;
}

.hero .overlay-itro {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0px;
    padding: 0;
    height: 100%;
    width: 100%;
    opacity: 0.9;
}

.hero .hero-title {
    font-weight: 600;
    font-size: 3rem;
}

@media (min-width: 768px) {
    .hero .hero-title {
        font-size: 4.5rem;
    }
}

.hero .hero-subtitle {
    font-size: 1.5rem;
    font-weight: 600;
}

@media (min-width: 768px) {
    .hero .hero-subtitle {
        font-size: 2.5rem;
    }
}

.hero .text-slider-items {
    display: none;
}
.hero-single {
    height: 350px;
}
.hero-single .hero-content {
    margin-top: 30px;
}
.hero-single .hero-title {
    text-transform: uppercase;
    font-size: 3rem;
}

@media (min-width: 768px) {
    .hero-single .hero-title {
        font-size: 3.5rem;
    }
}

.hero-single .breadcrumb {
    background-color: transparent;
    color: #db6300;
}

.hero-single .breadcrumb .breadcrumb-item:before {
    color: #cde1f8;
}

.hero-single .breadcrumb .breadcrumb-item.active {
    color: #cde1f8;
}

.hero-single .breadcrumb a {
    color: #fff;
}

.overlay-mf {
    background-color: #585858c9;
}

.overlay-mf {
    position: absolute;
    top: 0;
    left: 0px;
    padding: 0;
    height: 100%;
    width: 100%;
    opacity: 0.7;
}

.paralax-mf {
    position: relative;
    padding: 8rem 0;
}

.display-table {
    width: 100%;
    height: 100%;
    display: table;
}

.table-cell {
    display: table-cell;
    vertical-align: middle;
}

/*------/ Prelaoder /------*/
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #fff;
}

#preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #f2f2f2;
    border-top: 6px solid #db6300;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


h1 {
    font-family: "Bungee Outline", cursive;
    text-align: center;
    font-size: 350%;
    font-weight: bold;
    color: black;
    text-shadow: $amarillo 2px 2px;
    word-spacing: 10px;
    margin-top: 120px;
}

.section1 {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 15px;
    grid-template-areas:
        "parrafo1 diseñologo"
        "parrafo2 parrafo2";
    align-content: stretch;
    justify-items: center;
    align-items: center;
    font-size: 30px;
    text-align: center;
    padding: 5px;
}

.parrafo2 {
    grid-area: parrafo2;
}

.parrafo1 {
    grid-area: parrafo1;
}

.diseñoogo {
    grid-area: diseñoLogo;
}

.parrafo1 {
    font-style: oblique;
    padding-left: 40px;
}

.parrafo2 {
    color: black;
    letter-spacing: 1px;
    word-spacing: 3px;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
    text-shadow: $amarillo 0px 1px 1px;
    margin-top: 50px;
}

h2 {
    text-align: center;
    color: black;
    letter-spacing: 1px;
    word-spacing: 3px;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
    text-shadow: $amarillo 0px 1px 1px;
    margin-top: 100px;
}

.iframes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: stretch;
    justify-items: center;
    align-items: center;
    margin-bottom: 100px;
    margin-top: 100px;

    &__div {
        flex-direction: row;
    }

    &__iframe {
        box-shadow: #111 0px 4px 9px;
        margin: 20px;
    }
}

section img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}



/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services {
    margin-top: 150px;

    .icon-box {
        text-align: center;
        background: rgba(204, 204, 204, 0.1);
        padding: 80px 20px;
        transition: all ease-in-out 0.3s;

        h2 {
            font-weight: 700;
            margin-bottom: 15px;
            font-size: 24px;
            color: black;

            a {
                color: rgb(0, 0, 0);
            }
        }

        p {
            line-height: 24px;
            font-size: 14px;
            margin-bottom: 0;
        }

        .icon {
            margin: 0 auto;
            width: 64px;
            height: 64px;
            background: #ff4800;
            border-radius: 5px;
            transition: all 0.3s ease-out 0s;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;
            transform-style: preserve-3d;

            i {
                color: rgb(0, 0, 0);
                font-size: 28px;
            }

            .icon::before {
                position: absolute;
                content: "";
                left: -8px;
                top: -8px;
                height: 100%;
                width: 100%;
                background: rgba(255, 255, 255, 0.15);
                border-radius: 5px;
                transition: all 0.3s ease-out 0s;
                transform: translateZ(-1px);
            }
        }
    }
}

.services .icon-box:hover {
    background: $naranja;
    border-color: #ff4800;

    .icon {
        background: #000000;

        i {
            color: #ff4800;
        }
    }
}

.icon-box:hover .icon::before {
    background: #303030b6;
}

.services .icon-box:hover h4 a,
.services .icon-box:hover p {
    transform: scale(1.2);
}






/*pagina contacto*/

.contact {
    padding-bottom: 130px;
    display: flex;
    justify-content: center;
}

.container2 {
    margin-top: 30px;
    width: 1300px;
    background: #fff;
    box-shadow: 0 4px 9px rgb(0, 0, 0);
}

.contact .info {
    padding: 30px;
    width: 100%;
}

.contact .info i {
    font-size: 20px;
    color: #000000;
    float: left;
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}

.contact .info h4 {
    padding: 0 0 0 60px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #050d18;
}

.contact .info p {
    padding: 0 0 10px 60px;
    margin-bottom: 20px;
    font-size: 14px;
    color: #000000;
}

.contact .info .email p {
    padding-top: 5px;
}

.contact .info .social-links {
    padding-left: 60px;
}

.contact .info .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #333;
    color: $amarillo;
    line-height: 1;
    padding: 8px 0;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
    margin-right: 10px;
}

.contact .info .social-links a:hover {
    background: #000000;
    color: $amarillo;
}

.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i {
    background: #000000;
    color: #fff;
}

.contact .php-email-form {
    width: 100%;
    padding: 30px;
}

.contact .php-email-form .form-group {
    padding-bottom: 8px;
}

.contact .php-email-form .validate {
    display: none;
    color: red;
    margin: 0 0 15px 0;
    font-weight: 400;
    font-size: 13px;
}

.contact .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
}

.contact .php-email-form .error-message br+br {
    margin-top: 25px;
}

.contact .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
}

.contact .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
}

.contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
}

.contact .php-email-form .form-group {
    margin-bottom: 15px;
}

.contact .php-email-form label {
    padding-bottom: 8px;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
}

.contact .php-email-form input {
    height: 44px;
}

.contact .php-email-form textarea {
    padding: 10px 15px;
}

.contact .php-email-form button[type=submit] {
    background: #000000;
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
    border-radius: 4px;
}

.contact .php-email-form button[type=submit]:hover {
    background: #464646;
}

@-webkit-keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}



/*pagina equipo*/

.equipo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    padding-bottom: 50px;

    &__middle {
        display: flex;
        justify-content: flex-end;
        transition: .5s ease;
        opacity: 0;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        margin-left: 110px;
    }

    &__fotoperfil {
        opacity: 1;
        width: 30%;
        border-radius: 50%;
        height: auto;
        object-fit: cover;
        transition: .5s ease;
        backface-visibility: hidden;
        box-shadow: 0px 4px 9px black;
    }

    &__text {
        background-color: #333;
        color: white;
        font-size: 16px;
        padding: 16px 32px;
    }

    .equipo:hover &__fotoperfil {
        opacity: 0.3;
    }

    .equipo:hover &__middle {
        opacity: 1;
    }
}

.iframe2:hover {
    transform: scale(1.2);
}

.partners {
    margin-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    &__inv {
        justify-items: center;
        align-items: center;

        &:hover {
            transform: scale(1.5);
        }
    }
}


/* Pagina Main */

.paginaMainh1 {
    font-family: "Bungee Outline", cursive;
    text-align: center;
    font-size: 350%;
    font-weight: bold;
    color: black;
    text-shadow: #ffd000 2px 2px;
    word-spacing: 10px;
    margin-top: 120px;
    overflow: hidden;
}

.containerMain1 {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

#carouselExampleCaptions {
    justify-content: center;
}

.carousel-control-next,
.carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35%;
    padding: 0;
    color: #fff;
    text-align: center;
    background: 0 0;
    border: 0;
    opacity: .5;
    transition: opacity .15s ease;
}

.carousel-indicators {
    margin-bottom: 1.5rem;
}

.carousel-inner {
    overflow: visible;
}

.carouselTokenomic {
    box-shadow: black 0px 6px 12px 2px;
}

.containerMain2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.containerMain2 h3 {
    padding-top: 100px;

}

#myContainer {
    width: 400px;
    height: 400px;
    position: relative;
}

#myAnimation {
    width: 50px;
    height: 50px;
    position: absolute;
}

/* CARDS */

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 100px;
}

.card {
    margin: 20px;
    padding: 20px;
    width: 500px;
    min-height: 200px;
    background: gray;
    display: grid;
    grid-template-rows: 1px 80px 1fr 40px;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;

    &__exit,
    &__icon {
        position: relative;
        text-decoration: none;
        color: rgba(255, 255, 255, 0.9);
    }

    &__exit {
        grid-row: 1/2;
        justify-self: end;
    }

    &__icon {
        grid-row: 2/3;
        font-size: 30px;
    }

    &__title {
        grid-row: 3/4;
        font-weight: 200;
        color: #ffffff;
    }

    &__apply {
        grid-row: 4/5;
        align-self: center;
    }

    &__icon img {
        display: flex;
        margin-left: 0;
        margin-right: 0;
        width: 18%;
    }
}

.card:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.01);
}

.card {
    background: gray;
}




/* Pagina Whitepapper */

.construccion {
    display: flex;
    flex-direction: column;

    &__h3 {
        margin-bottom: 50px;
    }

    &__div {
        display: flex;
        justify-items: center;
    }

    &__img {
        width: 30%;
        height: 30%;
    }
}